langchain==0.3.2
langchain-google-genai
langchain-community

# Vector DB
chromadb
faiss-cpu

fastapi[standard]
uvicorn

python-dotenv
pypdf
tiktoken
sentence-transformers
PyPDF2
pydantic-settings
aiohttp

pymongo
PyPDF2

redis