# LangChain - updated versions for Python 3.13 compatibility
langchain>=0.3.15
langchain-google-genai
langchain-community

# Vector DB
chromadb
faiss-cpu

# Web Framework
fastapi[standard]
uvicorn

# Utilities
python-dotenv
pypdf
tiktoken
sentence-transformers
PyPDF2
pydantic-settings
aiohttp

# Database
pymongo
redis